{% extends 'layout.html' %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
    <title>Lista de origenes</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
</head>

<body>
    <div class="container">
        <h1>Lista de Origenes</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Ciudad</th>
                </tr>
            </thead>
            <tbody>
                {% for origen in origenes %}
                <tr>
                    <td>{{ origen.ciudadOrigen }}</td>
                    <td>
                        <form method="GET" action="/origenes/delete/{{ origen.id }}/" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                        <a href="/origenes/update/{{ origen.id }}" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No hay origenes disponibles</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/origenes/create/" class="btn btn-success">Crear nuevo origen</a>
    </div>
</body>

</html>

{% endblock %}