{% extends 'layout.html' %}

{% block content %}

<h1>Lista de Disponibilidades</h1>

<table class="table">
    <thead>
        <tr>
            <th>Fecha:</th>
            <th>Horario:</th>
            <th>Ciudad de origen:</th>
            <th>Ciudad de destino:</th>
            <th>Bus:</th>
            <th>N° de asiento:</th>
            <th>Estado:</th>
            <th>Acciones:</th>
        </tr>
    </thead>
    <tbody>
        {% for disponibilidad in disponibilidades %}
        <tr>
            <td>{{ disponibilidad.fecha }}</td>
            <td>{{ disponibilidad.horario }}</td>
            <td>{{ disponibilidad.ciudadO.ciudad }}</td>
            <td>{{ disponibilidad.ciudadD.ciudad }}</td>
            <td>{{ disponibilidad.bus }}</td>
            <td>{{ disponibilidad.asiento }}</td>
            <td>{{ disponibilidad }}</td>

            <td>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="dato" value="{{ disponibilidad.id }}">
                    <button class="btn btn-primary" type="submit">Desocupar</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay asientos disponibles</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}