{% extends 'layout.html' %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
    <title>Lista de destinos</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
</head>

<body>
    <div class="container">
        <h1>Lista de Destinos</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Ciudad</th>
                </tr>
            </thead>
            <tbody>
                {% for destino in destinos %}
                <tr>
                    <td>{{ destino.ciudadDestino }}</td>
                    <td>
                        <form method="POST" action="/destinos/delete/{{ destino.id }}/" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                        <a href="/destinos/update/{{ destino.id }}" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No hay destinos disponibles</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/destinos/create/" class="btn btn-success">Crear nuevo destino</a>
    </div>
</body>

</html>

{% endblock %}