{% extends 'layout.html' %}

{% block content %}

<head>
    {% load bootstrap5 %}

</head>

<form method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button class="btn btn-primary" type="submit">Guardar</button>
    {% endbuttons %}

    <table class="table">
        <thead>
            <tr>
                <th>Selección:</th>
                <th>Fecha:</th>
                <th>Hora:</th>
                <th>Ruta:</th>
                <th>Número de asiento:</th>
                <th>disponibilidad:</th>
            </tr>
        </thead>
        {% if form.is_bound and form.is_valid %}
        <tbody>
            {% for disponibilidad in disponibilidades %}
            <tr>
                <td>
                    {% if disponibilidad.disponible %}
                    <input type="checkbox" name="disponibilidad_id" value="{{ disponibilidad.id }}"
                        id="checkbox-{{ disponibilidad.id }}">
                    <label for="checkbox-{{ disponibilidad.id }}"></label>
                    {% endif %}
                </td>
                <td>{{ disponibilidad.fecha }}</td>
                <td>{{ disponibilidad.horario }}</td>
                <td>{{ disponibilidad.ruta }}</td>
                <td>{{ disponibilidad.asiento }}</td>
                <td>{{ disponibilidad }}</td>
            </tr>

            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</form>

{% endblock %}