{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Eliminar ciudad</title>

</head>

<body>

    <div class="container">
        <h1>Eliminar ciudad</h1>
        <p>¿Estás seguro de que deseas eliminar la ciudad<strong>"{{ ciudades }}"</strong>?</p>
        <form method="POST" action="/ciudades/delete/{{ ciudades.id }}/" onsubmit="return confirmarEliminacion()">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
        <br>
        <a href="/ciudades/" class="btn btn-secondary">Volver a la lista de ciudades</a>
    </div>

    <script>
        function confirmarEliminacion() {
            return confirm("¿Estás seguro de que deseas eliminar la ciudad?");
        }
    </script>
</body>

</html>

{% endblock %}