<!DOCTYPE html>
<html>

<head>
    <title>Lista de Buses</title>
</head>

<body>
    <h1>Lista de Buses</h1>
    <ul>
        {% for bus in buses %}
        <li>{{ bus.patente }} - {{ bus.cantidadAsientos }}
            <form method="POST" action="/buses/delete/{{ bus.id }}/" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Eliminar</button>
            </form>
            <a href="/buses/update/{{ bus.id }}/">Editar</a>
        </li>
        {% empty %}
        <li>No hay buses disponibles</li>
        {% endfor %}
    </ul>
    <a href="/buses/create/">Crear nuevo bus</a>
</body>

</html>